* {
    font-family: 'Roboto Mono', monospace;
}

.quickbio {
    padding-top: 30px;
}

.card-img {
    height: 225px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-hover:hover {
    transform: scale(1.05);
}

.card-link {
    text-decoration: none;
    color: black;
}

.content-box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    max-width: 95%; 
    margin: 30px auto; 
    height: 60%
  }
  
 
  .display-6 {
    font-size: 2.5rem;
  }
  
  .lead {
    font-size: .9rem; 
  }

  .content-box p.tech-stack {
    font-size: 18px;
    font-weight: bold;
  }
  
  
